# Carpetas de sistema
.git/
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.env.local
.env.*.local

# Build
build/
dist/
.next/
out/

# React
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage/
.nyc_output/

# Misc
.cache/
.log
*.tsbuildinfo
